@font-face {
    font-family: 'demo';
    src: url('../font/iconfont.eot');
    /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}
*[data-role=yp][icon-pos="left"]:before {
    content: "\e600";
    font-family: demo;
}
*[data-role=yp][icon-pos="right"]:after {
    content: "\e600";
    font-family: demo;
}
*[data-role=yp][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=yp][icon-pos="bottom"]:after {
    content: "\e600";
    font-family: demo;
}
*[data-role=yp][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=yp][icon-pos="top"]:before {
    content: "\e600";
    font-family: demo;
    display: block;
}
*[data-role=nz][icon-pos="left"]:before {
    content: "\e603";
    font-family: demo;
}
*[data-role=nz][icon-pos="right"]:after {
    content: "\e603";
    font-family: demo;
}
*[data-role=nz][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=nz][icon-pos="bottom"]:after {
    content: "\e603";
    font-family: demo;
}
*[data-role=nz][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=nz][icon-pos="top"]:before {
    content: "\e603";
    font-family: demo;
    display: block;
}
*[data-role=qc][icon-pos="left"]:before {
    content: "\e601";
    font-family: demo;
}
*[data-role=qc][icon-pos="right"]:after {
    content: "\e601";
    font-family: demo;
}
*[data-role=qc][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=qc][icon-pos="bottom"]:after {
    content: "\e601";
    font-family: demo;
}
*[data-role=qc][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=qc][icon-pos="top"]:before {
    content: "\e601";
    font-family: demo;
    display: block;
}
*[data-role=mz][icon-pos="left"]:before {
    content: "\e602";
    font-family: demo;
}
*[data-role=mz][icon-pos="right"]:after {
    content: "\e602";
    font-family: demo;
}
*[data-role=mz][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=mz][icon-pos="bottom"]:after {
    content: "\e602";
    font-family: demo;
}
*[data-role=mz][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=mz][icon-pos="top"]:before {
    content: "\e602";
    font-family: demo;
    display: block;
}
*[data-role=zb][icon-pos="left"]:before {
    content: "\e606";
    font-family: demo;
}
*[data-role=zb][icon-pos="right"]:after {
    content: "\e606";
    font-family: demo;
}
*[data-role=zb][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=zb][icon-pos="bottom"]:after {
    content: "\e606";
    font-family: demo;
}
*[data-role=zb][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=zb][icon-pos="top"]:before {
    content: "\e606";
    font-family: demo;
    display: block;
}
*[data-role=nan][icon-pos="left"]:before {
    content: "\e604";
    font-family: demo;
}
*[data-role=nan][icon-pos="right"]:after {
    content: "\e604";
    font-family: demo;
}
*[data-role=nan][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=nan][icon-pos="bottom"]:after {
    content: "\e604";
    font-family: demo;
}
*[data-role=nan][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=nan][icon-pos="top"]:before {
    content: "\e604";
    font-family: demo;
    display: block;
}
*[data-role=cw][icon-pos="left"]:before {
    content: "\e607";
    font-family: demo;
}
*[data-role=cw][icon-pos="right"]:after {
    content: "\e607";
    font-family: demo;
}
*[data-role=cw][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=cw][icon-pos="bottom"]:after {
    content: "\e607";
    font-family: demo;
}
*[data-role=cw][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=cw][icon-pos="top"]:before {
    content: "\e607";
    font-family: demo;
    display: block;
}
*[data-role=sj][icon-pos="left"]:before {
    content: "\e608";
    font-family: demo;
}
*[data-role=sj][icon-pos="right"]:after {
    content: "\e608";
    font-family: demo;
}
*[data-role=sj][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=sj][icon-pos="bottom"]:after {
    content: "\e608";
    font-family: demo;
}
*[data-role=sj][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=sj][icon-pos="top"]:before {
    content: "\e608";
    font-family: demo;
    display: block;
}
*[data-role=jd][icon-pos="left"]:before {
    content: "\e609";
    font-family: demo;
}
*[data-role=jd][icon-pos="right"]:after {
    content: "\e609";
    font-family: demo;
}
*[data-role=jd][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=jd][icon-pos="bottom"]:after {
    content: "\e609";
    font-family: demo;
}
*[data-role=jd][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=jd][icon-pos="top"]:before {
    content: "\e609";
    font-family: demo;
    display: block;
}
*[data-role=my][icon-pos="left"]:before {
    content: "\e60a";
    font-family: demo;
}
*[data-role=my][icon-pos="right"]:after {
    content: "\e60a";
    font-family: demo;
}
*[data-role=my][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=my][icon-pos="bottom"]:after {
    content: "\e60a";
    font-family: demo;
}
*[data-role=my][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=my][icon-pos="top"]:before {
    content: "\e60a";
    font-family: demo;
    display: block;
}
*[data-role=ts][icon-pos="left"]:before {
    content: "\e60b";
    font-family: demo;
}
*[data-role=ts][icon-pos="right"]:after {
    content: "\e60b";
    font-family: demo;
}
*[data-role=ts][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=ts][icon-pos="bottom"]:after {
    content: "\e60b";
    font-family: demo;
}
*[data-role=ts][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=ts][icon-pos="top"]:before {
    content: "\e60b";
    font-family: demo;
    display: block;
}
*[data-role=wjx][icon-pos="left"]:before {
    content: "\e605";
    font-family: demo;
}
*[data-role=wjx][icon-pos="right"]:after {
    content: "\e605";
    font-family: demo;
}
*[data-role=wjx][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=wjx][icon-pos="bottom"]:after {
    content: "\e605";
    font-family: demo;
}
*[data-role=wjx][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=wjx][icon-pos="top"]:before {
    content: "\e605";
    font-family: demo;
    display: block;
}
*[data-role=sp][icon-pos="left"]:before {
    content: "\e60c";
    font-family: demo;
}
*[data-role=sp][icon-pos="right"]:after {
    content: "\e60c";
    font-family: demo;
}
*[data-role=sp][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=sp][icon-pos="bottom"]:after {
    content: "\e60c";
    font-family: demo;
}
*[data-role=sp][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=sp][icon-pos="top"]:before {
    content: "\e60c";
    font-family: demo;
    display: block;
}
*[data-role=jj][icon-pos="left"]:before {
    content: "\e60d";
    font-family: demo;
}
*[data-role=jj][icon-pos="right"]:after {
    content: "\e60d";
    font-family: demo;
}
*[data-role=jj][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=jj][icon-pos="bottom"]:after {
    content: "\e60d";
    font-family: demo;
}
*[data-role=jj][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=jj][icon-pos="top"]:before {
    content: "\e60d";
    font-family: demo;
    display: block;
}
*[data-role=jf][icon-pos="left"]:before {
    content: "\e60e";
    font-family: demo;
}
*[data-role=jf][icon-pos="right"]:after {
    content: "\e60e";
    font-family: demo;
}
*[data-role=jf][icon-pos="bottom"]:before {
    content: "";
    font-family: demo;
}
*[data-role=jf][icon-pos="bottom"]:after {
    content: "\e60e";
    font-family: demo;
}
*[data-role=jf][icon-pos="top"]:before {
    content: "";
    font-family: demo;
}
*[data-role=jf][icon-pos="top"]:before {
    content: "\e60e";
    font-family: demo;
    display: block;
}
